httpcore
python-telegram-bot==20.7
aiohttp
aiodns
python-i18n[YAML]
pydantic
Pillow
requests
pyyaml
python-dotenv


# all of these are OPTIONAL, only needed if you want to use additional features
openai==1.3.9
pyautogen==0.2.2
replicate
sentry-sdk
pydub
mixpanel
mixpanel-py-async
retry
redis[hiredis]
boto3
deep_translator