python-dotenv
httpcore
python-telegram-bot==20.4
aiohttp
aiodns
python-i18n[YAML]
pydantic
Pillow
requests

# all of these are OPTIONAL, only needed if you want to use additional features
replicate
sentry-sdk
pydub
mixpanel
mixpanel-py-async
retry
redis[hiredis]
boto3
deep_translator